* {
  text-align: center;
  background-color: aqua;
}

.jogo {
  width: 303px;
  height: 297px;
  border: solid 3px;
  margin-left: 50%;
  transform: translate(-50%);
}

input {
  width: 95px;
  height: 95px;
  border: solid 1px;
  font-size: 80px;
  background-color: brown;
}
